<html>
<body>

<div>Список упражнений</div>

{{#exercises}}
    <div>
        <b>{{exercise_id}}</b>
        <spаn>{{exercise_name}}</spаn>
        <strong>{{description}}</strong>>
    </div>
{{/exercises}}
</body>
</html>